body {
  background-image:url(images/viganwp.jpg);
  background-size: cover;
  background-position:center;
  background-attachment:fixed;
}
.header{
	padding:10px 170px;
	text-align:center;
	background:#CC9966;
	color:white;
	fontsize:25px;
	opacity:1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7E7E7E;
}

li {
  float: left;
}

li a {
  font-family:Helvetica;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 160px;
  text-decoration: none;
}

li a:hover {
  background-color:white;
}
div.gallery {
  background-color:B37A4C;
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 500px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  background-color:B37A4C;
  width: 100%;
  height: auto;
}

div.desc {	
  color: white;
  padding: 15px;
  text-align: center;
}
